
/frontend/node_modules/
/frontend/.env.local
/frontend/.env.development
/frontend/.env.production


# --- BACKEND (Express + MongoDB) ---
/backend/node_modules/
/backend/dist/
/backend/.env
/backend/.env.local